.Navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    border-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 16px 48px;}

.logo {
    height: 90px;
    margin-left: 90px;
}
